body {
  margin: auto;
  display: flex;
  place-items: center;
  text-align: center;
  justify-content: center;
  min-height: 90vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
