@import "./style/normalize";
@import "./style/text";
@import "./style/color";
@import "./style/mobile";

@media only screen and (min-width: 800px) {
  @import "./style/tablet";
}
@media only screen and (min-width: 1025px) {
  @import "./style/desktop";
}

:root {
  font-family: "Texturina", "Merriweather", system-ui, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body.light {
  color: black;
  background-color: $bodyBg;
  input {
    background-color: $inputBg;
  }
  .popup {
    background-color: $bodyBg;
    border: 3px solid black;
  }
}
