@import "./style/_normalize";
@import "./style/_containers";
@import "./style/_text";
@import "./style/_color";

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  place-items: center;
  text-align: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

body.light {
  color: black;
  background-color: $bodyBg;
  input {
    background-color: $inputBg;
  }
  .popup {
    background-color: $bodyBg;
    border: 3px solid black;
  }
}
